* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 36px;
  padding-right: 36px;
}

header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo a{
  font-size: 38px;
  font-weight: 700;
  color: #044431cc;
}

ul {
  display: flex;
  align-items: center;
  gap: 50px;
}

ul li {
  list-style: none;
}

ul li a {
  color: rgb(37, 37, 37);
  font-size: 16px;
  font-weight: 400;
}

ul li a:hover {
  color: #007451;
}

.register {
  display: flex;
  align-items: center;
  gap: 25px;
}

.register a {
  color: black;
  background-color: none;
  border: none;
  padding: none;
  padding-left: none;
  padding-right: none;
  border-radius: none;
  transition: all 0.2s ease;
}

.register a:hover {
  background-color: #007451;
  color: white;
  border: 1px solid black;
  padding: 8px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 15px;
}

.register button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid black;
  border-radius: 25px;
  transition: all 0.5s ease;
}

.register button:hover {
  background-color: #003f22;
  color: white;
}


/* hero pice */
.hero {
  max-width: 1200px;
  margin: 0 auto;
  width: 1128px;
  height: 700px;
  border-radius: 12px;
  background-color: #022A1E;
  margin-bottom: 74px;
  display: flex;
  justify-content: space-between;
  padding-left: 45px;
  padding-right: 45px;
}

.text-left {
  padding-top: 240px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.text-left img {
  width: 397px;
  height: 66px;
  margin-top: 20px;
}

.text-left .title {
  color: white;
  font-size: 48px;
  padding-left: 15px;
}

.text-left .desc {
  color: white;
  width: 470px;
  padding-left: 15px;
}

.img-right img {
  margin-top: 130px;
  width: 480px;
  height: 480px;
}


/* brand pice */
.brand {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  gap: 40px;
}

.brand h2 {
  font-weight: 400;
}

.brand .brand-logo {
  display: flex;
  gap: 95px;
}


/* main pice */

main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 40px;
  flex-direction: column;
  margin-bottom: 50px;
  background-color: #F2F7F7;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 15px;
}

main h1 {
  text-align: center;
  width: 700px;
  font-size: 40px;
  font-weight: 400;
}

main .cards{
  margin-top: 30px;
  display: flex;
  gap: 25px;
}

main .cards .card1 {
  width: 315px;
  background-color: white;
  border-radius: 15px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}

main .cards .card1 img {
  width: 230px;
  height: 230px;
}